
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
*.exe
MiminPintar-Linux
MiminPintar-MacOS
Mimin_Siap_Jual/

data/auth_info/
data/config.json
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
data/
